

<div class="container middle-align">
    <h3>{{Lid}} Details</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="From">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let sud"> {{sud.from1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="To">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let sud"> {{sud.to1}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="nod_applied">
            <th mat-header-cell *matHeaderCellDef> No_Of_Days_Applied </th>
            <td mat-cell *matCellDef="let sud"> {{sud.nod}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Reason">
            <th mat-header-cell *matHeaderCellDef> Reason </th>
            <td mat-cell *matCellDef="let sud"> {{sud.reason}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>