<!DOCTYPE html>


<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>
</head>



<nav class="navbar navbar-expand-sm bg-default" style="background-color:black">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lvdtls">Leave Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lcdtls">Lecturer Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/alt">Alternate Arrangements</a>
        </li>

    </ul>
</nav>