<div class="container middle-align">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Slno. </th>
        <td mat-cell *matCellDef="let faculty"> {{faculty.slno}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let faculty"> {{faculty.Name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Fid </th>
        <td mat-cell *matCellDef="let faculty"> {{faculty.fid}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Designation </th>
        <td mat-cell *matCellDef="let faculty"> {{faculty.Designation}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Phone_NO </th>
          <td mat-cell *matCellDef="let faculty"> {{faculty.Phno}} </td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let faculty"> {{faculty.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="addr">
          <th mat-header-cell *matHeaderCellDef> Sex </th>
          <td mat-cell *matCellDef="let faculty"> {{faculty.Sex}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>