<div class="container" style="padding-top: 50px; height: 1000px">
    <div class="row" style="height: 50%;padding-bottom: 20px;height:fit-content">
        <div class="col-sm-6" style="height: 50%; padding-bottom: 20px">
            <div class="col-sm-12  h-100 text-center" style="background-color:gray; opacity: 90%; width:auto;">
                <br><br>
                <h4 style="color: white">Apply For Leave</h4>
                <br>
                <button type="button" (click)="applyLeave()" class="btn-lg">APPLY</button>
                <br><br><br>
            </div>
        </div>
        <div class="col-sm-6" style="height: 50%">
            <div class="col-sm-12 h-100 text-center" style="background-color: gray; opacity: 90;width: auto">
                <br><br>
                <h4 style="color: white">Lecturer Details</h4>
                <br>
                <button type="button" class="btn-lg" style="align-content: center" (click)="facDtls()">SEE</button>
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="row" style="height: 50%;padding-top: 10px;">
        <div class="col-sm-6 col-sm-offset-6" style="height: 50%;padding-bottom: 20px">
            <div class="col-sm-12  h-100 text-center" style="background-color:gray; opacity: 90%; width:auto;">
                <br><br>
                <h4 style="color: white">Leave Details</h4>
                <br>
                <button type="button" class="btn-lg" (click)="lvDetails()">SEE</button>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-6" style="height: 45%">
            <div class="col-sm-12  h-100 text-center" style="background-color:gray; opacity: 90%; width:auto;">
                <br><br>
                <h4 style="color: white">Timetable</h4>
                <br>
                <button type="button" class="btn-lg">SEE</button>
            </div>
        </div>
    </div>

    <div class="row" style="height: 50%;padding-top: 10px;" *ngIf = "hod">
        <div class="col-sm-6 col-sm-offset-6" style="height: 50%;padding-bottom: 20px">
            <div class="col-sm-12  h-100 text-center" style="background-color:gray; opacity: 90%; width:auto;">
                <br><br>
                <h4 style="color: white">Leave Management</h4>
                <br>
                <button type="button" class="btn-lg" (click)= "lmgmt()">SEE</button>
            </div>
        </div>
    </div>
    
</div>